# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.[oa]
*.so

# C extensions
*.pyd
*.dll

# Database
db.sqlite3
*.sql

# Environment variables
.env
.venv
env/
venv/
ENV/
VENV/

# Media files
/media/

# Static files (if collected)
/static_root/

# IDE / Editor specific
.idea/
.vscode/
*.swp

# Ashampoo Snap screenshots
*.png

# Database backups
*.json

# Attachments (if not intended to be version controlled)
attachments/

# Specific untracked files that should be ignored
core/templates/core/search.html