{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{% trans "Giá Trị Trường Dữ Liệu" %}{% endblock %}

{% block content %}
    <div class="form-container">
        <h1 class="form-title">{% trans "Danh sách Giá Trị Trường Dữ Liệu" %}</h1>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white rounded-lg shadow overflow-hidden">
                <thead class="bg-gray-200 text-text">
                    <tr>
                        <th class="py-3 px-4 text-left text-sm font-semibold uppercase tracking-wider">{% trans "Giá Trị" %}</th>
                        <th class="py-3 px-4 text-left text-sm font-semibold uppercase tracking-wider">{% trans "Công Việc" %}</th>
                        <th class="py-3 px-4 text-left text-sm font-semibold uppercase tracking-wider">{% trans "Trường Dữ Liệu" %}</th>
                        <th class="py-3 px-4"></th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for giatritruongdulieu in giatritruongdulieus %}
                        <tr class="hover:bg-gray-50">
                            <td class="py-3 px-4 whitespace-nowrap">{{ giatritruongdulieu.value }}</td>
                            <td class="py-3 px-4 whitespace-nowrap">{{ giatritruongdulieu.cong_viec.title }}</td>
                            <td class="py-3 px-4 whitespace-nowrap">{{ giatritruongdulieu.truong_du_lieu.field_name }}</td>
                            <td class="py-3 px-4 text-right whitespace-nowrap">
                                <a href="{% url 'giatritruongdulieu_detail' giatritruongdulieu.pk %}" class="form-button bg-primary hover:bg-indigo-700 inline-block w-auto">{% trans "Xem" %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-6 text-center">
            <a href="{% url 'giatritruongdulieu_create' %}" class="form-button bg-green-500 hover:bg-green-700 inline-block w-auto">{% trans "Thêm Giá Trị Trường Dữ Liệu" %}</a>
        </div>
    </div>
{% endblock %}