{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{% trans "Xóa Nhiệm vụ" %}{% endblock %}

{% block content %}
    <div class="form-container">
        <h1 class="form-title text-red-600">{% trans "Xác nhận xóa Nhiệm vụ" %}</h1>
        <div class="bg-white shadow-md rounded-lg p-8 mb-6 text-center">
            <p class="text-lg mb-6">{% trans "Bạn có chắc chắn muốn xóa" %} "<strong class="font-semibold">{{ task.title }}</strong>"?</p>
            <form method="post" class="flex justify-center space-x-4">
                {% csrf_token %}
                <button type="submit" class="form-button bg-red-600 hover:bg-red-700">{% trans "Xóa" %}</button>
                <a href="{% url 'task_detail' task.pk %}" class="form-button bg-gray-500 hover:bg-gray-700">{% trans "Hủy" %}</a>
            </form>
        </div>
    </div>
{% endblock %}